$red:#C40000;

* {
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 14px !important;
}

#td1 {
    display: flex;
    margin-top: 20px;
}


#car1 {
    margin: 0 auto;
    display: inline-block;
}

.redFooter {
    background-color: $red !important;
}