#content_details h2{
	/* margin-top:10px; */
}
#content_details .msg{
	width: 600px;
	height: 100px;
	background-color: gainsboro;
	margin:0 auto;
	margin-top: 10px;
}
#content_details .msg_person{
	width: 200px;
	float:left;
}
#content_details .msg_time{
	width: 200px;
	float:right;
}
#content_details .msg_content{
	border-top: 1px solid gray;
	
	clear:both;
	width: 600px;
}
#content_details .msg_reply{
	border-top: 1px solid gray;
	width: 600px;
}